*.log
npm-debug.log*
*package-lock.json*

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

reports/**/*.json
reports/**/*.xml
reports/**/*.html
reports/**/*.png
reports/custom/chrome.json
reports/**/*.txt
support/config.user.js
support/config.saucelabuser.js
support/config.browserstack.js

scenarios.txt
package-lock.json*
*-unittest-report.xml
reports/*.json

# Hided files
.DS_Store