*.log
npm-debug.log*
*package-lock.json*

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

tests/reports/**/*.json
tests/reports/**/*.xml
tests/reports/**/*.html
tests/reports/**/*.png
tests/reports/**/*.txt
tests/support/reports/coverage/**/*
tests/support/config.user.js
tests/reports/custom/chrome.json
tests/support/config.saucelabuser.js
tests/support/config.browserstack.js

tests/scenarios.txt
package-lock.json*
*-unittest-report.xml
reports/*.json

# Hided files
.DS_Store