/* Please visit the URL below for more information: */

/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

.markdown-preview.markdown-preview {
    // background-color: #f3f3f3;
    background-color: #fff;
}

.markdown-preview.markdown-preview * {
    font-family: "Avenir Next", Avenir, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, sans-serif;
}

.markdown-preview.markdown-preview h1 {
    text-align: center;
    margin-bottom: 90px;
}

.markdown-preview.markdown-preview h2 {
    margin-top: 2em;
    border-bottom: 5px solid #d6d6d6;
    margin-bottom: 32px;
}

.markdown-preview.markdown-preview h4 {
    margin-bottom: 0px;
    margin-top: 50px;
}

.markdown-preview.markdown-preview hr {
    margin-top: 0;
}

.markdown-preview.markdown-preview p {
    text-align: justify;
}